fastapi
uvicorn
mysql-connector-python

sqlalchemy==2.0.43
dotenv
langchain==0.3.27
langchain-community==0.3.28
langchain-openai==0.3.32
langgraph==0.6.6
langgraph-checkpoint-sqlite==2.0.11
aiosqlite==0.21.0
azure-identity
openai
redis>=5.3.0
kiwipiepy
geopy